<div class="main">
  <div class="card1">
    <img src="../../../../../../assets/courses-png-4.png" alt="Courses" style="width:100%">
    <button class="btn success" routerLink="/viewcourses" routerLinkActive="active">courses</button>
  </div>
  <div class="card2">
    <img src="../../../../../../assets/training.png" alt="Courses" style="width:100%">
    <button class="btn success">learn</button>
  </div>
  <div class="card3">
    <img src="../../../../../../assets/studedede.png" alt="Student" style="width:100%">
    <button class="btn success" routerLink="/viewstudent" routerLinkActive="active">students</button>
  </div>
</div>